body {
  margin: 0;
  padding: 0;
  background-image: url(./modules/images/backgr.webp);
  background-repeat: no-repeat;
}

h1 {
  margin-top: 3%;
  margin-left: 7%;
  font-size: 3rem;
  color: #babd14;
}

.displayScore {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.7;
  width: 76%;
  margin-left: 12%;
}

.recent-score {
  display: flex;
}

.score-title {
  margin-right: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.listNameAndScore {
  border: 2px solid rgb(28, 31, 30);
  list-style-type: none;
  line-height: 2rem;
  padding-left: 0;
  border-radius: 5px;
}

.name-list {
  padding-left: 10px;
}

.listScore:nth-child(even) {
  background-color: #c1c1c1;
  width: 100%;
}

.listScore:nth-child(odd) {
  background-color: #8a8484;
  width: 100%;
}

h3 {
  margin: 0 10px 0 0;
  font-size: 2.3rem;
  color: yellow;
}

.refresh {
  height: 25px;
  margin-top: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.formContainer {
  width: 280px;
  padding: 20px 40px;
  line-height: 50px;
  border-radius: 5px;
}

input {
  width: 90%;
  height: 2rem;
}

.btn-submit {
  margin-left: 73%;
  padding: 2%;
  width: 20%;
}
